@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Theme--Color: #050315;
}
* {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}
body {
  background: var(--Theme--Color);
  min-height: 100dvh;
  height: 100%;
}
.Square {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  /* backdrop-filter: blur(50px); */
  z-index: 2;
}
h1{
  min-height: 55px;
}
.Container {
  display: flex;
}
.SmallDevicesMessage--Container {
  display: none;
}
@media screen and (max-width: 768px) {
  .SmallDevicesMessage--Container {
    display: flex;
  }
  .Container {
    display: none;
  }
}
